<%- include('header'); -%>

  <div class="box" id="heading">
    <a href=<%= link %>><h1><%= listTitle %></h1></a>
  </div>
  
  <div class="box">
    <% listItem.forEach(el => { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="itemId" value=<%= el._id %> onChange="this.form.submit()">
          <P><%= el.name %></P>
          <input type="hidden" name="listName" value=<%= listTitle %>>
        </div>
      </form>
    <% }) %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

  <%- include('footer'); -%>
